* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gothic';
  /*src: url('https://public.twineall.com/gp/font/GOTHIC.TTF') format('truetype');*/
  src: url('/gp/font/GOTHIC.TTF') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Litera';
  src: url('/gp/font/litera regular.ttf') format('truetype');
  /*src: url('/gp/font/89d8fba73b6d10c300478fad02d4871d.svg') format('svg'),
  src:url("/gp/font/89d8fba73b6d10c300478fad02d4871d.woff2") format("woff2");*/
  font-weight: 100;
  font-style: normal;
}

a, article, body, div, footer, form, h1, h2, h3, h4, header, html, img, label, li, nav, p, section, span, time, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

a, a:visited {
  color: #003569;
  text-decoration: none;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: #363b40;
  font-weight: 500;
  letter-spacing: -0.1px;
}

h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 64px;
  margin: 0 0 48px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin: 0 0 40px;
}

h4 {
  margin: 18px 0;
  line-height: 22px;
  font-size: 14px;
}

.h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 0 0 24px;
  }

ol, ul {
  list-style: none;
}

#corrde-root, #root, article, div, footer, header, main, nav, section {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

#corrde-root, body, html {
  height: 100%;
}

body, button, input, textarea {
  font-family: Litera;
  font-size: 14px;
  line-height: 18px;
}

body {
  color: #1a1a1a;
  /*background: #efeff4;*/
}

#corrde-root {
  z-index: 0;
}

._miY {
  min-height: 100%;
  overflow: hidden;
}

._uHC {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

._uHC {
  background-color: #fafafa;
  padding: 0;
}

._xCt {
  -webkit-flex-basis: 75px;
  -ms-flex-preferred-size: 75px;
  flex-basis: 55px;
}

._xCt {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

._-tY, ._aXz {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

._-tY {
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 22;
  -webkit-transition: height .2s ease-in-out;
  transition: height .2s ease-in-out;
  height: 55px;
}

._aXz {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 55px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1010px;
  padding: 26px 40px;
  -webkit-transition: height .2s ease-in-out;
  transition: height .2s ease-in-out;
  width: 100%;
}

._-Xg {
  -webkit-box-flex: 1;
  -webkit-flex: 1 9999 0%;
  -ms-flex: 1 9999 0%;
  flex: 1 9999 0%;
  min-width: 40px;
}

._tXa {
  letter-spacing: .6px;
  text-transform: uppercase;
  color: #444;
}

._xC2 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
}

._XQ2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto 0;
  max-width: 1035px;
  padding-bottom: 44px;
  width: 100%;
}

._xCQ {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-flex-basis: 480px;
  -ms-flex-preferred-size: 4800px;
  flex-basis: 480px;
  /*height: 480px;
  margin-left: -35px;
  margin-right: -15px;*/
}

._xCQ_ {
  color: #262626;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 12px;
  max-width: 350px;
}

._UGA {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 2px;
  width: 400px;
  background: #fff;
  box-shadow: 0 15px 50px 0 rgba(0,34,77,.08);
  padding: 25px 0 0;
}

._txU {
  color: #1185fe;
  padding: 8px;
  text-transform: capitalize;
  font-size: 24px;
  text-align: center;
}

._Ctx {
  padding: 12px 0;
  font-size: 52px;
  line-height: 1;
}

._gBA {
  border-radius: 3px;
}

._gBC {
  border: 0;
  padding: 0 23px;
}

._UFA {
  position: relative;
  border: 0;
  margin: 0;
  overflow: hidden;
}

._RRD:focus {
  background: #fff;
  outline: 0;
}

._RRD {
  margin-top: 12px;
  border: 0;
  border-bottom: 1px solid #ebeef5;
  padding: 14px 0;
  width: 100%;
  line-height: 20px;
  font-size: 14px;
  background-color: transparent;
  color: #555;
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: none;
  background: #fff;
}

._RRD::placeholder, ._RRD::-moz-placeholder {
  color: #ccc;
  -webkit-text-fill-color: #ccc;
  font-weight: 300;
  opacity: 1;
}

._FFe {
  margin: 32px 24px 28px;
  height: 36px;
}

._GXe {
  margin: 0;
  border-radius: 2px;
  width: 100%;
  line-height: 60px;
  font-size: 14px;
  color: #8590a6;
  background: #f7f8fa;
}

._THa {
  color: #175199;
}

._bsZ {
  border: 1px solid;
  color: #fff;
  line-height: 1;
  white-space: nowrap;
  background: none;
  -webkit-appearance: none;
  outline: none;
  border-radius: 100px;
  display: block;
  padding: 13px 0;
  width: 100%;
  background-color: #1185fe;
  border-color: #1185fe;
  /*font-weight: 700;*/
  cursor: pointer;
}

._sxC {
  margin: 15px 0;
  max-width: 250px;
}

._CuH {
  background-color: #fafafa;
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5;
  padding: 0 20px;
  font-size: 11px;
}

._gxM, ._gcQ, ._x2y {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

._geQ {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0%;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  margin: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

._szU, ._a2X {
  font-size: 11px;
  color: #999;
  letter-spacing: .3px;
  text-transform: uppercase;
}

._uHB {
  /*text-transform: uppercase;*/
  font-weight: 600;
}

._aYS {
  margin: 25px 0;
}

._HUa {
  background-color: rgba(0,0,0,.65);
}

._HUa, ._UQe {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10010;
}

._UQe, ._dMG, ._ZVP {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

._UfX {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  overflow: auto;
  width: 100%;
  z-index: 10011;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

._oPQ {
  z-index: 10011;
  background: #fff;
  margin: auto;
  pointer-events: auto;
  width: 100%;
  max-width: 564px;
  /*border-radius: 2px;*/
}

._Ysz {
  /*max-width: 588px;*/
  max-height: calc(100vh - 24px * 2);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

._uCX {
  padding: 40px 24px 32px;
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
  color: #404040;
  box-sizing: border-box;
}

._QZg {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0%;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

/**
  @-u-
  **/

._tXa, ._tXa:visited {
  /*font-weight: 600;*/
  font-size: 24px;
  text-transform: lowercase;
  color: #1185fe;
}

._gM_a, ._gM_0 {
  border: 1px solid #1185fe;
  border-radius: 6px;
}

._gM_0 {border: 1px solid #fff;}

._agM {
  background: #1185fe;
  border-radius: 100px;
}

._TX_a, ._TX_a:visited {
  min-width: 92px;
  text-align: center;
  box-sizing: border-box;
  color: #1185fe;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  padding: 8.5px 16px;
}

._TX_a:active {
  background: rgba(17,133,254,.1);
}

._atX, ._atX:visited {
  color: #fff;
}

._aGX {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  width: 100%;
}

._qQS {
  max-width: 50%;
  margin: auto;
}

._-gs {
  /*border-top: 1px solid #eee;*/
  bottom: 10px;
  position: fixed;
  width: 100%;
  z-index: 19;
  left: 0;
}

._xGy {
  -webkit-flex-basis: 55px;
  -ms-flex-preferred-size: 55px;
  flex-basis: 55px;
  height: 100%;
}

#root, ._gMX {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

._uxq, ._gvQ {
  background: #fff;
  box-shadow: 0 15px 50px 0 rgba(0,34,77,.08);
}

.-_tX {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.AddStoriesColor, .ChevFroGrayColor, .ChevToGrayColor, .closelighticonUA,  .DelColor, 
.dissentlighticonUA, .electiconUA, .FroColor, .MailColor, .MugColor, 
.poolsiconUA, .ProceedColor, .RootGray, .rooticonUA, .SearchColor, .SellColor, 
.StarColor, .StarMiniColor, .StatsCircleColor, .StatsPlaneColor, 
.twineiconUA, .verifylighticonUA {
  background-image: url(/gp/css/icons/canvas.png);
}

.CommentsGray, .HeartsColor, .HeartsGray {background-image: url(/gp/css/icons/gram_canvas.png);}

.AddStoriesColor, .ArchiveGray, .closelighticonUA, .CommentsGray, .DelColor, .dissentlighticonUA, .electiconUA,
.FilterColor, .GeoGray, .GramColor, .Graph000, .FroColor, .HeartsColor, 
.HeartsGray, .MailColor, .MugColor, .MugColorv, .NextGrayColor, .PrevGrayColor, .ProceedColor, 
.poolsiconUA, .RootGray, .rooticonUA, .SearchColor, .SellColor, .StarColor, .StarMiniColor, 
.StatsCircleColor, .StatsPlaneColor, .twineiconUA, .TwitterColor, .verifylighticonUA, ._y4x {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.ArchiveGray {background-image: url(/gp/p/vector/archive.svg);}

.ChevFroGrayColor, .ChevToGrayColor {
  background-repeat: no-repeat;
  width: 30px;
  height: 84px;
}

.ChevFroGrayColor {
  background-position: -298px -7px;
}

.ChevToGrayColor {
  background-position: -332px -7px;
}

.CommentsGray {
  background-position: 0 -383px;
}

.DelColor {
  background-position: -350px -118px;
}

.FilterColor {
  background-image: url(/gp/p/vector/filter.svg);
}

.FroColor {
  background-position: -198px -180px;
}

.GeoGray {background-image: url(/gp/p/vector/geo_pin.svg);}

.GramColor {
  background-image: url(/gp/p/vector/instagram.svg);
}

.Graph000 {
  background-image: url(/gp/p/vector/infograph.svg);
}

.HeartsColor {
  background-position: -104px -358px;
}

.HeartsGray {
  background-position: -182px -357px;
}

.MailColor {
  background-position: -135px -180px;
}

.MugColor {
  background-position: -102px -120px;
}

.MugColorv {
  background-image: url(/gp/p/vector/mug.svg);
}

.NextGrayColor {
  background-image: url(/gp/p/vector/next.svg);
}

.PrevGrayColor {
  background-image: url(/gp/p/vector/prev.svg);
}

.ProceedColor {
  background-position: -166px -180px;
}

.RootGray {
  background-position: -258px -120px;
}

.SearchColor {
  background-position: -166px -120px;
}

.AddStoriesColor, .SellColor {
  background-position: -134px -120px;
}

.StarColor {
  background-position: -230px -182px;
}

.StarMiniColor {
  background-position: -262px -186px;
}

.StatsCircleColor {
  background-position: -70px -180px;
}

.StatsPlaneColor {
  background-position: -106px -180px;
}

.TwitterColor {
  background-image: url(/gp/p/vector/twitter.svg);
}

._tCx {
  color: #000;
  text-transform: capitalize;
  padding: 8px 0;
}

._tCw {
  padding-left: 4px;
  text-transform: capitalize;
}

._tSx {
  padding: 12px;
  color: #1185fe;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: .2px;
  background: rgba(193, 193, 193, 0.27);
}

.-_tyq {
  display: block;
  padding: 12px;
  width: 100%;
  height: 250px;
  border: 1px solid #e7eaf1;
  border-radius: 3px;
  box-sizing: border-box;
  resize: none;
  outline: none;
  color: inherit;
  transition: box-shadow .15s ease-out;
  overflow: auto;
}

._yCR {
  padding-top: 22px;
}

._tXv {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


._eYG {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  margin-left: 12px;
  overflow: hidden;
}

.-_-Z {
  display: none;
}

._Sq_a {
  padding: 20px
}

._btx {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
}

._SYa {
  text-transform: uppercase;
  color: #999;
  padding: 8px 0 0;
  font-size: 11px;
}

._uHg {
  /*border-bottom: 1px solid #efefef;*/
  color: #1185fe;
  font-weight: 700;
}

._tXx {
  font-weight: 600;
}

._gcQ {
  padding: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

._cCq {
  background-color: #fafafa;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
}

._cCq::after {
  border: 1px solid rgba(0,0,0,.0975);
  border-radius: 50%;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0; 
}

._utC {
  font-size: 21px;
  color: #777;
}

._3qg {
 -webkit-box-flex: 3;
-webkit-flex: 3 0 0%;
-ms-flex: 3 0 0%;
flex: 3 0 0%;
}

._Wtx {
  display: block;
  padding: 5px;
  width: 100%;
  height: 100%;
  font-size: 12px;
  border-radius: 100px;
  box-sizing: border-box;
  resize: none;
  outline: none;
  color: inherit;
  transition: box-shadow .15s ease-out;
  overflow: auto;
  border: 0
}

._aCz {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
  margin: 0;
  white-space: nowrap;
}

._aSz {
  padding: 8px;
}

._aGz {
  max-width: 100px;
}

._tWx, ._tEx {
  padding: 8px;
}

._tWx {
  color: #666;
  border-radius: 100px 100px 100px 0;
  background: #fff;

  margin-right: 4px;
}

._tEx {
  color: #fff;
  border-radius: 100px 100px 0 100px;
  background: #1185fe;
}

._yZS {
  margin: 0;
  padding: 10px 0;
}

._ZSg {
  margin: 0;
}

._ZCg {
  padding: 0;
}

._vC- {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 240px;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 300;
}

._tCc {
  margin: 0 0 0 5px;
  background: #66f066;
  padding: 2px 12px;
  border-radius: 8px;
  color: #fff;
  font-size: 11px;
  letter-spacing: .75px;
}

._Ycl, ._pV0 {
  border-top: 1px solid #e6e6e6;
  padding: 12px;
}

._-tQ {
  text-align: center;
  padding: 15px;
  font-size: 13px;
  color: #555;
  font-weight: 600;
}

._zY- {
  position: fixed;
  bottom: 80px;
  right: 10px;
  z-index: 19;
  width: 40px;
  height: 40px;
}

._aQz {
  width: 30px;
  height: 30px;
  width: 100%;
  height: 100%;
  background: #1185fe;
  border-radius: 50%;
}

._th0, ._th0:visited, ._Yax, ._Yax:visited {
  /*0 defaults font size on hex scale*/
  color: #fff;
  font-size: 11px;
}

._qYx, ._qYx:visited {
  display: inline-block;
  font-size: 13px;
  line-height: 45px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  color: #1185fe;
  font-weight: 600;
  text-transform: capitalize;
}

._clz:last-child {
  border-bottom-width: 0;
}

._Yax {
  line-height: 30px;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 18px;
}

._qXS {
  font-weight: 600;
  padding: 5px 10px;
  font-size: 12px;
}

._CYc {
  padding: 10px 0;
}

._SYz {
  margin: 0 0 55px;
}

._egZ {
  border-radius: 100px;
}

._uZC {
  border-bottom: 1px solid #dbdbdb;
  padding: 30px 25px 25px;
}

._YtS {
  font-weight: 600;
  text-align: center;
  margin: 0 0 30px;
  padding: 12px 0;
}

._ytx, ._ytx:visited {
    line-height: 28px;
    /*max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
    color: inherit;
    font-weight: 700;
    font-size: 13px;
    padding: 0 0 15px;
}

._ttx, ._ttx:visited {
    color:  #000;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
}

._uZM {
  border-bottom: 1px solid #dbdbdb;
}

._axS {
  margin: 0 0 0 10px;
}

._guZ {
  background: none;
}

._utQ, ._utQ:visited {
  color: #1185fe;
  font-weight: 300;
}

._SCz {
  color: #616366;
  line-height: 25px;
  padding: 0;
  margin: 0 0 12px 0;
}

._SCz > li {
  font-size: 13px;
  position: relative;
  padding-left: 24px;
  margin-bottom: 6px;
  font-weight: 600;
}

._SCz > li::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "+";
}

._iSa {
  margin: 10px 0 0 !important;
}

._iSa > li {
  font-weight: 300;
  margin-bottom: 5px;
}

._Yxc {
  height: 100px;
  overflow: hidden;
}

._Atx {
  text-transform: capitalize;
  color: #363b40;
  font-weight: 300;
  line-height: 25px;
}

._2tx {
  font-size: 12px;
}

._3tx {
  font-size: 18px
}

._4tx {
  font-size: 24px;
}

._Qtx {
  text-align: center;
}

._eSQ {
  margin: auto;
}

._4Sx {
  padding: 0 16px;
}

._4Qx {
  margin: 0 16px;
}

._uXZ {
  width: 100%;
  box-shadow: 0 15px 50px 0 rgba(0,34,77,.08);
}

._Ccc {
    position: absolute;
    left: 145px;
    background: #0f76e3;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  height: 20px;
  color: #fff;
  top: 5px;
}

._0tx {
  text-transform: none;
}

._Sz6 {
  margin: 0 0 30px;
}

._aWz {
  width: 100%;
  height: 100%;
}

._XsQ {
  width: 100%;
  margin: 0 auto;
}

._cXz {
  position: relative;
  /*z-index: 1;*/
  padding: 176px 0 120px;
}

._cXz {
  padding-bottom: 540px;
  /*margin-bottom: 420px;*/
}

._tQz {
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}

._cQc, ._t4z, ._tQz {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

._SaQ, ._t4z, ._tQz {
  z-index: 21;
  position: relative;
}

._tQz ._-X {
  font-size: 64%;
  vertical-align: top;
  position: relative;
  top: 6px;
  line-height: 1;
}

._t4z {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  color: rgba(229,235,255,.8);
  text-align: center;
}

._tQz + ._t4z {
    margin-top: 24px;
  }

._SaQ {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

._-ZCc {
  position: absolute;
  left: 0;
  background: #1185fe;
  width: 100%;
  height: 72%;
  top: 0;
}

._cQc {
  display: flex;
  align-items: center;
}

._cQc {
    flex-direction: column;
  width: 100%
  }

._cQX {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 56px;
    border-radius: 3px;
    font-size: 17px;
    transition: border .3s linear;
    padding: 0!important;
}

._-Yz {
    padding: 0 16px;
    height: 56px;
    border-radius: 3px;
    font-size: 17px;
    display: block;
    width: 100%;
    transition: border .3s linear;
    appearance: none;
}

._-Yz, ._cQX {
    color: #525666;
    border: 1px solid #d3d6e2;
    background-color: #fff;
    box-shadow: none;
}

._cQX {
    padding: 0 16px;
    height: 56px;
    border-radius: 3px;
    font-size: 17px;
}

._cQX {
    margin-bottom: 16px;
    width: 100%;
    margin-left: 0;
    max-width: 100%;
}

._-Yz, .cQX {
  min-height: 100%;
  border: none !important;
  background: transparent !important;
}

._-Yz {
  height: auto;
  flex: 1 1 auto;
}

._-Yz {
    padding: 0 16px;
    height: 56px;
    border-radius: 3px;
    font-size: 17px;
}

._XsQ {
    padding: 0 14px;
    max-width: 972px;
  }

._c5Q {
  width: 100%;
  padding: 20px;
}

._C9y, ._C3y {
  position: relative;
  padding: 120px 0;
  z-index: 2;
}

._tqS, ._SCx {
  max-width: 750px;
  margin: 0 auto;
}

._SCx {
  color: #142149;
  text-align: center;
  margin-top: -8px;
  margin-bottom: 72px;
}

._tqS {
  margin: -48px auto 72px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
}

._tqS {
  color: #525666;
  font-size: 19px;
  line-height: 32px;
  margin: -24px auto 40px;
}

._aXy {
  justify-content: flex-end;
}

._aYy {
  flex-direction: column;
  margin-bottom: 0;
}

._aYy {
  display: flex;
  flex-shrink: 0;
}

._-Zz {
  display: none
}



._aXx {
  flex-grow: 1;
}

._Xxt {
  min-height: 100%;
  width: 100%;
  color: #142149;
  transition: color .3s;
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

._Xxt {
  position: relative;
  font-size: 15px;
}

._Xxt, ._Xxt:visited {
  color: #142149;
  padding: 11px 24px 13px;
  line-height: 24px;
  min-height: 0;
}

._tAx {
  text-transform: capitalize;
  font-size: 13px;
}

._Xxt {
  font-weight: 600;
}

._-_y {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  display: block;
  min-height: auto;
}

._yXx {
  margin-left: 8px;
  height: 16px;
  width: 16px;
  line-height: 16px;
  min-width: 16px;
  opacity: .4;
  margin-right: -8px;
  transition: .4s;
}

.NavDownColor {
  background: url(/gp/p/vector/nav_down.svg);
}

._-aX::before {
    content: "";
    background: 
    transparent;
    z-index: -1;
    position: absolute;
    top: -36px;
    height: 36px;
    width: 100%;
    display: block;
}

._-aX, ._-aX::after {
    /*z-index: -1;
    content: "";
    width: 0;
    height: 0;
    border-color: transparent transparent
    #fff;
    border-style: solid;
    border-width: 0 8px 8px;
    position: absolute;
    top: -8px;
    display: block;*/
    /*left: -1000%;
    left: calc(178px - var(--parentItemWidth)/2 + var(--parentItemWidth) - 22px)*/;
}

._aYz::after {
  /*position: absolute;
  top: 8px;
  bottom: 8px;*/
  display: block;
  content: "";
  width: 1px;
  background: rgba(0,0,0,.1)
}

._aYz {
  overflow: hidden;
  border-radius: 3px;
  background: #f3f4f7;
  padding: 0;
  position: relative;
}

._-zZx {
  /*border-bottom: 1px solid #e6e7eb;*/
  width: 100%;
  display: block;
  min-height: auto;
  position: relative;
}

._-zZx + ._-zZx, ._cS2 + ._cS2 {
  border-top: 1px solid #e6e7eb;
}

._aAx {
  position: absolute;
  top: 60%;
  background: #1185fe;
  height: 100%;
  width: 100%;
}

._xsQ- {
  z-index: 19;
}

._-xQy {
  display: block !important;
  margin-left: auto;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
  color: #142149;
  line-height: 20px;
  min-height: 0;
  width: 100%
}

._gXs {
  flex: 1;
  order: 2;
  margin-left: 24px;
}

._Xtx {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 0;
  color: #525666;
}

._tAa {
  text-transform: uppercase;
}

._WtX {
  color: #fff;
}

._aAz {
  top: 0;
}

._SCz li + li {
  border-top: 1px solid #c4c4c436;
}

._aXy {
    background: #fff;
    border-radius: 3px;
    max-width: 684px;
    box-shadow: 0 4px 32px 0 rgba(10,14,29,.02), 0 8px 64px 0 rgba(10,14,29,.08);
    overflow: auto;
}

._aYx {
  background: #fff;
  border-radius: 3px;
  max-width: 684px;
  box-shadow: 0 4px 32px 0 rgba(10,14,29,.02), 0 8px 64px 0 rgba(10,14,29,.08);
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(100% - 48px);
  max-width: 684px;
  max-height: calc(100vh - 24px * 2);
  overflow: auto;
}

._txx {
  font-size: 13px;
}

._qSz {
  margin: 40px 0 24px;
  text-align: left;
  font-size: 13.5px;
  font-weight: 600;
  color: #142149;
}

._aSz {
  width: 100%;
  margin: 0 0 24px;
  line-height: 25px;
} 

._axX {
  text-transform: unset;
  font-size: 11px;
  color: #666;
}

._eZz {
  padding: 5px 0;
  border-bottom: 1px solid #efefef;
  margin: 0 0 15px;
  font-weight: 600;
}

._Ccs {
  border: 1px solid #c2c2c4;
  padding: 12px;
  border-radius: 100px;
}

._gS6 {
  width: 64px;
  height: 64px;
}

._4sC {
  padding: 24px;
  margin: auto;
}

#file {
  display: none !important;
}

label {
  cursor: pointer;
  line-height: 24px;
}

._gZy {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 24px 0;
  overflow: hidden;
}

._qXq {
  width: 33.3333%;
  font-size: 11px;
  overflow: hidden;
}

._qS2 {
  font-size: 13.5px;
  color: #142149;
  text-transform: uppercase;
}

._sZ2 {
  margin-bottom: 24px;
}

._t2x {
  color: #1185fe;
  text-transform: unset;
  font-size: 13px;
}

._caZ {
  padding: 8px 0;
}

._aWz- {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .2);
  cursor: not-allowed;
}

._gS3 {
  width: 36px;
  height: 36px;
}

._-xQy > ._dMG, ._4tx {
  font-size: 24px;
  line-height: 30px;
}

._C3y {
  padding: 44px 0;
}

._gMz {
  -webkit-flex: 0 0 0%;
  -ms-flex: 0 0 0%;
  flex: 0 0 0%;
}

._aWc {
  width: 8px;
  height: 8px;
  background: #1185fe;
  border-radius: 50%;
  margin-right: 5px;
}

._AXt {
  font-size: 11px;
  font-weight: 700;
  margin-top: -2px;
  margin-right: 30px;
  color: #888;
}

._uH2 {
  background: #1185fe;
}

._uH4 {
  background: #ff5443;
}

._uH8 {
  background: #b938a5;
}

._eX2, ._eX4, ._eX8, ._tX2, ._tX4, ._tX8 {
  font-size: 11px;
  font-weight: 700
}

._eX2 {
  border: 1px solid #1185fe;
}

._eX4 {
  border: 1px solid #ff5443;
}

._eX8 {
  border: 1px solid #b938a5;
}

._tX2, ._tX2:visited {
  color: #1185fe;
}

._tX4, ._tX4:visited {
  color: #ff5443;
}

._tX8, ._tX8:visited {
  color: #b938a5;
}

._Ax2 {
  font-weight: 300;
  font-size: 24px;
  margin: 20px 0 40px;
}

._Cc2 {
  width: 200px;
  height: 360px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 32px 0 rgba(10,14,29,.02), 0 8px 64px 0 rgba(10,14,29,.08);
  position: relative;
}

._Cc2::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border-radius: 20px;
}


._qz- {
  position: absolute;
  width: 100%;
  border: 100%;
  top: 270px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.44);
  text-align: center;
  color: #fff;
  font-size: 13px;
}

._SxQ {
  margin: 14px auto;
  min-width: 92px;
}

svg {
  width: 200px;
  min-height: 200px;
}

._cC4, ._cC6, ._cC4-, ._cC6- {
  fill: none;
}

._cC2, ._aW2 {
  fill: #eee;
}

._cC4, ._cC6 {
  stroke: #efefef;
  stroke-width: 1;
}

._cC4-, ._cC6- {
  stroke-width: 6;
}

._cC6- {
  stroke: #1a99aa;
  stroke-dasharray: 390px;
  stroke-dashoffset: 100px;
}

._cC4- {
  stroke: #ec6f6f;
  stroke-dasharray: 297px;
  stroke-dashoffset: 190px;
}

._sQ7 {
  width: 100%;
  height: 100%;
}

._ax2 {
  font-weight: 600;
  font-size: 14px;
  margin: 20px 0 40px;
}

._Ax0 {
  color: #999;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .3px;
}

._ax4 {
  font-size: 24px;
  margin: 15px 0;
  font-weight: 700;
  color: #4f4f4f;
}

._aXZ {
  width: 100%;
}

.overlay, ._a0z {
  fill: none;
  pointer-events: all;
}

.d3JS {
  height: 100%;
  min-height: 0;
  /*background: #d7d7dd;*/
  background: #dfefff;
}

.d3JS text {
  text-transform: none;
}

._Cy0 {
  padding: 4px 0;
}

._uH3 {
  background: #1a99aa;
}

._uH6 {
  background: #ec6f6f;
}

text {
  /*font-size: 10px;*/
  fill: #594b4b;
  font-weight: bold;
  text-transform: uppercase;
}

._aX0 {
  fill: #1185fe;
}

._gZ0 {
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: left;
  /*box-shadow: 0 5px 20px -5px rgba(11,27,38, 0.2);*/box-shadow: 0 15px 50px 0 rgba(0,34,77,.08);
  border: 1px solid #edf0f2;
}

._gZ0 > table {
  width: 100%;
  max-width: 100%;
  color: #888;
  font-weight: bold;
}

table > thead > tr > th {
  padding: 16px 10px;
  padding-left: 10px;
  vertical-align: bottom;
  border-bottom: 1px solid #edeff2;
  color: #9da2a6;
  font-size: 13px;
  font-weight: 300;
}

._gZ0 > table > tbody > tr > td {
  padding: 12px 10px;
  line-height: 1.42857143;
  vertical-align: middle;
  /*border-bottom: 1px solid #edf0f2;*/
}

._tu2 {
  color: #66f066;
  font-size: 13px;
}

#mug > ._aYy {
  border: 1px solid #eee;
}

._uZ0 {
  background: #2929f2;//#121271;
}

._ut0 {
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}

._uZ0 ._aW2 {
  fill: #ffffff0f;
}

._uZ0 text {
  fill: #fff;
  font-weight: lighter;
}

._uZ0 ._aX0 {
  fill: #fdfeff17;
}

._qaZ {
  text-align: center;
  margin: 40px auto 20px;
}

._cC8, ._cC8-, ._cC4, ._cC4- {
  fill: none;
}

._cC8 {
  stroke-width: 1;
  stroke: #ffffff12;
}

._cC8- {
  stroke-width: 1.5;
  stroke: #1dcae1;
  stroke-dasharray: 600px;
  stroke-dashoffset: 35px;
}

._aXZ + ._aXZ {
  margin: 40px auto 0;
}

._-Qc {
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
  height: 52px;
  line-height: 52px;
  text-align: center;
  color: #1dcae1;
  display: block
}

._tX7 {
  font-size: 52px;
}

._t2X {
  font-size: 11px;
  padding: 0 2px 0;
}

._aAY {
  background: #fff;
  border-radius: 3px;
  max-width: 684px;
  box-shadow: 0 4px 32px 0 rgba(10,14,29,.02), 0 8px 64px 0 rgba(10,14,29,.08);
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(100% - 48px);
  max-width: 684px;
}

._aXY { 
  max-height: calc(100vh - 70px);
  overflow: auto;
}

._aAY > ._gcQ {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

._zZx ._-xQy {

}

._aAY ._Xtx, ._aA2, ._aAe {
  color: #000;
}

._aA2 {
  font-weight: 300;
  font-size: 12.5px;
}

._aA4 {
  color: #1185fe;
}

._pg0 {
  fill: #4f4f4f;
  height: 0.5px;
}

._pg2 {
  fill: #e4f1ff;
}

._pg2- {
  fill: #1185fe;
}

._pg4 {
  fill: #efeeee;
}

._pg6 {
  fill: #bbdcff;
}

._aA8, ._aA8:visited {
  border-bottom: 2px solid transparent;
  font-size: 12.5px;
  line-height: 1.1;
  display: inline;
  /*font-weight: 700;*/
  text-transform: capitalize;
  color: #000;
}

._aA8:hover, ._aA8:focus {
  transition: border-bottom .1s ease-in-out;
  border-bottom: 2px solid #000;
  color: #000
}

._zg0 {
  min-height: 0;
  width: 40px;
  height: 40px;
}

._QZg > svg {
  margin: 0 15px 0;
}

._cC4 {
  stroke-width: 1;
  stroke: #86868638;
}

._cC4- {
  stroke-width: 1.5;
  stroke: #1dcae1;
  stroke-dasharray: 600px;
  stroke-dashoffset: 485px;
}

._-cC4 {
  position: absolute;
  display: block;
  top: 50%;
  width: 100%;
  left: 0;
  text-align: center;
  color: #1dcae1;
  margin-top: -10px;
}

._xg2 {
  min-width: 62px;
  text-align: right;
}

._q2s {
  margin: 40px 0 20px;
}

._aX2 {
  font-size: 12.5px;
  font-weight: 700;
}

._aA6 {
  color: #4f4f4f;
}

._zY0, ._zY0:visited {
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 0 15px;
  color: inherit;
}

._cS2 {
  padding: 15px 0;
}

._zYg {
  white-space: normal;
}

._eXz {
  border: none;
  background: transparent;
}

._xQz {
  max-width: 100%;
}

/**
 SliderView
 **/

.sliderView, ._-gAZ {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

.sliderContainer, ._AZc {
  padding: 14px;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.sliderContent, ._AZx {
  z-index: 1;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  overflow: visible;
}

.sliderTransform, ._AZs {
  z-index: 1;
  height: 100%;
  flex-wrap: nowrap;
  transition-property: transform;
  /*margin: 0 -12px;*/
}

._gs0 {
  margin: 0;
}

.slide {
  width: 100%;
  min-height: 1px;
  padding: 0 12px;
  flex: 0 0 25%;
  max-width: 25%;
  min-width: 92%;
  height: 45px;
}

.slide div {
  background: #fff;
  height: 100%
}

#map {
  /*margin-top: -51px;*/
  height: 100%;
}

._xZ- {
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 2;
}

._z2a {
  box-shadow: 0 15px 50px 0 rgba(0,34,77,.3);
}

._aVz {
  z-index: 1;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  overflow: visible;
}

._xXx {
  z-index: 1;
  height: 100%;
  flex-wrap: nowrap;
  transition-property: transform;
  margin: 0 -12px;
}

._qXc {
  width: 100%;
  min-height: 1px;
  padding: 0 12px;
  flex: 0 0 25%;
  max-width: 50%;
  /*min-width: 25%;*/
  height: 45px;
}

._a02 {
  font-size: 10px;
}

._a00 {
  font-family: Gothic;
}

._gp0 {
  background: #fff;
}

._azX- {
  border-top: 1px solid #eee;
  bottom: 0;
  box-sizing: border-box;
  display: -ms-flexbox;
  /* display: flex;
   max-width: 600px; */
  padding: 12px 15px;
  position: fixed;
  width: 100%;
  z-index: 19;
  left: 0;
}

._tY2- {
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  position: fixed;
  top: 55px;
  width: 100%;
  z-index: 22;
}

._pV3 {
  padding: 10px;
  border: 1px solid #d2d2d2;
  border-radius: 100px 0 100px 100px;
}

._pV9 {
  color: #666;
  border-radius: 0 100px 100px 100px;
  margin-right: 4px;
  padding: 10px;
  border: 1px solid #d2d2d2;
}

._pV4 {
  color: #000;
  border: 1px solid #4f4f4f;
  background: none;
}

._Ss0 {
  margin: 10px 10px 10px 0; 
}

._sV0 {
  stroke: #4f4f4f;
  stroke-width: 1;
  fill: none;
}

._Ssa {
  margin-top: 30px;
}

._gDa {
  -webkit-flex-basis: 52px;
  -ms-flex-preferred-size: 52px;
  flex-basis: 52px;
  height: 100%;
}

._STa {
  padding: 45px 0 0;
  background-color: #fff;
  width: 52px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 23;
  background-clip: border-box;
  box-shadow: 1px 0 3px rgba(26,26,26, .1);
  background-clip: content-box;
}

._gDE {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0%;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
}

._gyQ {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

._xSe {
  width: 100%;
  max-width: 1050px;
}

._cx4 { /* 100/4 */
  padding: 30px 25px 25px;
  border-bottom: 1px solid #ebebeb;
}

._Xsa {
  font-weight: 600;
  line-height: 1.6em;
  letter-spacing: 0.5px;
}

._cX5 { /* X explicit to left and right, x inclusive of all axes */
  padding: 0 20px;
}

._X4-, ._xX4, ._xX0 {
  width: 100%;
  min-height: 1px;
  /*padding: 0 12px;*/
  flex: 0 0 25%;
  max-width: 25%;
  height: auto;
  visibility: visible;
}

._xX4, ._xX0 {
  align-items: center;
  max-width: 22%;
}

._xX0 {max-width: 12.5%}

._x10 {width: 100%}

._sy2 {
  margin-left: 75px;
}

._gmg {
  position: absolute;

} /*gMg, gm0*/

._cX3, ._xC3 {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

._g29 {
  color: #fff;
  background: #2929f2;
  width: 100%;
}

._gxQ {align-items: center !important;}

._tx1 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.5rem;
  margin: 0;
}

._ge0 {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%
}

._gxZ {
  flex-wrap: wrap;
  margin: 0 -15px;
}

._S8Y {
  margin-top: 40px
}

._c3x {
  width: 100%;
  padding: 0 15px
}

._-gm::after {
  background: #ed4956;
  border-radius: 2px;
  bottom: -10px;
  content: "";
  height: 4px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  -webkit-transition: bottom .2s ease-in-out;
  transition: bottom .2s ease-in-out;
  width: 4px;
}

._aA0, ._aA0:visited {color: #fff;}

._tXx, ._tXx:visited {font-weight: 600;}

*::placeholder{letter-spacing: .75px}

._pVa {border-bottom: 1px solid #c2c2c4;}

._aAa, ._aAa:visited {color: #1185fe;}

#support-slide-ejs {background: #1616db; padding: 15px}

._gf3, ._t00 {
  background: #f3f4f7;
  line-height: 1.5rem;
  letter-spacing: .75px;
  width: 100%;
}

._t00 {background: none;}

._f47 {background: #ffffff47}

._c3 {padding: 0 15px};

._pVf {border: 1px solid #fff;}

._t22 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin: 0 0 10px;
}

._g00 {
  align-items: flex-start !important;
}

._fg0 {
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  background-size: 100%;
  min-width: 20px;
  margin-right: 12px;
}

._gMr {
  position: absolute;
  min-width: 8px;
  min-height: 8px;
  background-color: #ed69ab;
  border-radius: 50%;
  -webkit-animation: bubbleJiggle 3s ease infinite;
  animation: bubbleJiggle 3s ease infinite;
}

._gfb {
  background-color: #fbd2fb;
  -webkit-animation: bubbleBurst 3s linear infinite;
  animation: bubbleBurst 3s linear infinite;
}

@-webkit-keyframes bubbleJiggle {
 0% {
  -webkit-transform:scaleX(1);
  transform:scaleX(1)
 }
 25% {
  -webkit-transform:scaleX(1);
  transform:scaleX(1)
 }
 50% {
  -webkit-transform:scale3d(1.175,1.175,1.175);
  transform:scale3d(1.175,1.175,1.175)
 }
 75% {
  -webkit-transform:scale3d(.9,.9,.9);
  transform:scale3d(.9,.9,.9)
 }
 to {
  -webkit-transform:scaleX(1);
  transform:scaleX(1)
 }
}
@keyframes bubbleJiggle {
 0% {
  -webkit-transform:scaleX(1);
  transform:scaleX(1)
 }
 25% {
  -webkit-transform:scaleX(1);
  transform:scaleX(1)
 }
 50% {
  -webkit-transform:scale3d(1.175,1.175,1.175);
  transform:scale3d(1.175,1.175,1.175)
 }
 75% {
  -webkit-transform:scale3d(.9,.9,.9);
  transform:scale3d(.9,.9,.9)
 }
 to {
  -webkit-transform:scaleX(1);
  transform:scaleX(1)
 }
}
@-webkit-keyframes bubbleBurst {
 0% {
  -webkit-transform:scale3d(0,0,0);
  transform:scale3d(0,0,0);
  opacity:0
 }
 5% {
  -webkit-transform:scale3d(1.2,1.2,1.2);
  transform:scale3d(1.2,1.2,1.2);
  opacity:1
 }
 65% {
  opacity:.65
 }
 to {
  -webkit-transform:scale3d(8,8,8);
  transform:scale3d(8,8,8);
  opacity:0
 }
}
@keyframes bubbleBurst {
 0% {
  -webkit-transform:scale3d(0,0,0);
  transform:scale3d(0,0,0);
  opacity:0
 }
 5% {
  -webkit-transform:scale3d(1.2,1.2,1.2);
  transform:scale3d(1.2,1.2,1.2);
  opacity:1
 }
 65% {
  opacity:.65
 }
 to {
  -webkit-transform:scale3d(8,8,8);
  transform:scale3d(8,8,8);
  opacity:0
 }
}

._tY0 {
  letter-spacing: .75px;
  line-height: 1.5rem;
}

._rQ6, ._rQ0 {margin: 0 12px;border-radius: 12px}

._rQ0 {border-radius: 0}

._g0z {display: block;overflow: hidden;padding-bottom: 100%}

._gVm {bottom: 0;right: 0;left: 0;position: absolute;top: 0}

._aMz {
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

._gef {background-color: #efefef;display: block;width: 100%;}

._gC0 {padding: 0}

._aXs {margin-left: 28px}

._p4f {border: 1px solid #4f4f4f;}

._t4f, ._t4f:visited {color: #4f4f4f;}

._pQ0 {border-radius: 4px}

._aS0 + ._aS0 {margin-left: 12px}

._QgY {width:22px;height:22px;min-height:20px}

#mini  ._QgY {width:16px;height:16px;min-height:16px;margin-top: 2px;}

@media only screen and (min-width: 1200px) {

  ._Xsa {
    padding: 0 30px;
    border-left: 1px solid #ebebeb;
    max-width: 850px;
  }

  ._cy0 {
    padding: 0 20px 0 20px;
    border-left: 1px solid #ebebeb;
  }

}

@media (min-width: 768px) {

  ._x10 {width: 83.3333333%}

  ._x00 {width: 100%}

  ._x2y {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  ._cXq {
    padding: 0 24px;
  }
}

@media (min-width: 1200px) {

  ._x60 {width: 16.66666667%} /* 6.0*50 */

  ._x40 {width: 25%} /* 4.0*50 */

  ._x17 {width: 58.33333%} /*1.7 * 50*/

  ._x13 {width: 75%}

  ._x10 {width: 100%}

  ._X4- {max-width: 24.6777777%}

  ._x2y {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media (max-width: 768px) {

  ._gV0 {
    display: none;
  }

  ._gVc {bottom: 55px}

  ._sy2 {
    margin: 50px 0;
  }

  ._x2y {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  ._cX0 {
    padding: 10px 25px;
  }

  ._X4- {
    min-width: 90%;
  }
}

@media (min-width: 414px) {

  ._QXs {
    margin: 0 auto;
  }
}

/*@media (min-width: 414px) and (max-width: 735px) {*/

  ._clz, ._gcl {
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
  }

  ._gcl {
    background: none;
  }

  ._QXs, ._clz {
    width: 100%;
  }
/*}*/

@media (min-width: 481px) {
  ._UfX::after, ._UfX::before {
    content: '';
    display: block;
    -webkit-flex-basis: 40px;
    -ms-flex-preferred-size: 40px;
    flex-basis: 40px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  ._UfX {
    padding: 0 40px;
    pointer-events: none;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@media (min-width: 640px) {
  ._vC- {
    max-width: 550px;
  }

  ._zY- {
    right: 50px;
  }
}

@media (max-width: 740px) {
  ._xCQ {
    /*display: none*/
  }

  ._UGA {
    width: 100%;
    max-width: 400px;
  }

  ._CuH > ._gxM {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  ._uHB {
    padding: 15px;
  }

  .-_-Z {
    display: flex;
    width: 75%;
  }
}

@media (max-width: 640px) {

  ._XQ2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  ._xCQ {
    text-align: center;
    flex-basis: 0;
  }

  ._sxC {
    max-width: 100%;
  }

  ._aXz {
    padding: 0 24px
  }

  ._uxq, ._gvQ {
    background: none;
  }

  ._gvQ {box-shadow: none;}

  ._-gs {
    bottom : 0;
  }

 ._egZ {
    border-radius: 0;
  }

  ._gVc {bottom: 55px}
}

@media (max-width: 1231px) {
  h1 {
    font-size: 52px;
    line-height: 64px;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
  }

  .h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
  }

  ._cXz {
    padding: 168px 0 100px;
  }

  ._t4z {
    font-size: 22px;
    line-height: 32px;
  }

  ._XsQ ._SaQ {
    background: #fff;
    box-shadow: 0 4px 32px 0 rgba(10,14,29,.02), 0 8px 64px 0 rgba(10,14,29,.08);
    border-radius: 4px;
    padding: 24px;
    margin-top: 56px;
  }

  ._C9y {
    padding: 100px 0;
  }

  ._tqS {
    font-size: 22px;
    line-height: 32px;
}
}

@media (max-width: 1012px) {
  .XsQ {
    padding-right: 12px;
    padding-left: 12px;
  }
}

@media (max-width: 1011px) {
  ._XsQ {
    padding: 0 24px;
  }

  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
  }

  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }

  .h4 {
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
  }

  ._cXz {
    padding: 128px 0 88px;
  }

  ._cXz {
    /*padding-bottom: 320px;
    margin-bottom: 232px;*/
  }

  ._t4z {
    font-size: 19px;
    font-weight: 300;
    line-height: 32px;
  }

  ._tQz + ._t4z {
    margin-top: 16px;
  }

  ._SaQ {
    margin-top: 32px;
  }

  ._XsQ ._SaQ {
    background: #fff;
    box-shadow: 0 4px 32px 0 rgba(10,14,29,.02), 0 8px 64px 0 rgba(10,14,29,.08);
    border-radius: 4px;
    padding: 24px;
    margin-top: 56px;
  }

  ._XsQ ._SaQ {
    box-shadow: 0 8px 16px 0 rgba(10,14,29,.02), 0 8px 40px 0 rgba(10,14,29,.06);
  }

  ._C9y {
    padding: 88px 0
  }

  ._SCx {
    margin-bottom: 40px
  }

  ._tqS {
    font-size: 19px;
    font-weight: 300;
    line-height: 32px;
  }

  ._aXy {
    min-height: 56px;
  }

  ._aXy {
    background: #fff;
    border-radius: 3px;
    /*position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    margin: auto!important;
    width: calc(100% - 48px);*/
    max-width: 684px;
    box-shadow: 0 4px 32px 0 rgba(10,14,29,.02), 0 8px 64px 0 rgba(10,14,29,.08);
    /*visibility: hidden;
    opacity: 0;
    transition: opacity .25s;*
    max-height: calc(100vh - 70px);*/
    overflow: auto;
  }

  ._aXy {
    visibility: visible;
    opacity: 1;
    box-shadow: 0 8px 16px 0 rgba(10,14,29,.02), 0 8px 40px 0 rgba(10,14,29,.06);
  }

  ._aYy {
    width: 100%;
    flex-direction: column;
    /*padding-top: 8px;*/
  }

  ._Xxt {
    color: #142149;
    padding: 11px 24px 13px;
    line-height: 24px;
    min-height: 0;
  }

}

@media (max-width: 751px) {
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
  }

  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }

  .h4 {
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
  }

  ._cXz {
    padding: 104px 0 64px;
  }

  ._cXz {
    padding-bottom: 320px;
    margin-bottom: 232px;
  }

  ._cXz {
    overflow: visible;
    padding-bottom: 0;
    margin-bottom: 64px;
  }

  ._t4z {
    font-size: 17px;
    line-height: 28px;
  }

  ._XsQ ._SaQ {
    background: #fff;
    box-shadow: 0 4px 32px 0 rgba(10,14,29,.02), 0 8px 64px 0 rgba(10,14,29,.08);
    border-radius: 4px;
    padding: 24px;
    margin-top: 56px;
  }

  ._-SZ6 {
    display: block;
    font-weight: 500;
    margin-bottom: 24px;
  }

  ._qXq {
    width: 50%;
  }


}

@media (max-width: 685px) {
  ._gZ0 {
    padding: 24px;
  }

  ._gZ0 > table {
    display: block;
    width: 100%;
    overflow: visible;
  }

  ._gZ0 > table > thead {
    display: none;
  }

  ._gZ0 > table > tbody {
    display: block;
    width: 100%;
  }

  ._gZ0 > table > tbody tr {
    padding: 15px 0 10px;
    border-bottom: 1px solid #edeff2;
    width: 100%;
    display: block;
  }

  ._gZ0 > table > tbody tr td {
    border: none;
    width: 100%;
    padding: 0;
    display: block;
    margin-bottom: 15px;
  }

  #team-rotate-ejs > ._X4- {
    min-width: 90%
  }
}

@media (max-width: 514px) {

  ._XY0 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 380px) {

  ._XY0 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}


@media (min-width: 514px) {

  .-gV0 {
    display: none;
  }
  ._XsQ {
    max-width: 480px;
  }
}

@media (min-width: 752px) {
  ._XsQ {
    max-width: 716px;
  }
}


@media (min-width: 1012px) {
  ._XsQ {
    padding: 0 14px;
    /*max-width: 972px;*/
  }

  ._SaQ {
    max-width: 480px;
    margin: auto;
    width: 100%
  }
}

/**
@dev
**/

@media (min-width: 1232px) {

  #add-u_md5, #add-u_md5:visited {color: #fff;}
}

@media (min-width: 1200px) {

  ._x25 {width: 40%}

  ._x16 {width: 60%}
}

@media (min-width: 768px) {

  ._cX3 {max-width: 720px}

  ._ss7 {margin: 42px 0 0}
}

@media (min-width: 992px) {

  ._cX3 {
    max-width: 960px;
  }

  ._gQ0 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  ._S8Y {margin-top: 0 !important}

  ._g17 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
}

@media (max-width: 1500px) {

  #team-rotate-ejs > ._X4- {min-width: 34.333333%}
  #stories-rotate-ejs > ._X4- {min-width: 35.33333%}

  #near-rotate-ejs > ._X4-, #jobs-rotate-ejs > ._X4-, #skilled-rotate-ejs > ._X4-, #jobs-rotate > ._X4- {min-width: 35.33333%}
}

@media (max-width: 1150px) {

  #team-rotate-ejs > ._X4- {min-width: 34.333333%}
}

@media (max-width: 992px) {

  ._tx1 {margin-bottom: 40px; font-size: 1.8rem}

  ._t22 {font-size: 1.1rem;line-height: 1.8rem; font-weight: 600; margin-bottom: 24px}

  ._X2Y {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 920px) {

  #team-rotate-ejs > ._X4- {min-width: 48.333333%}

  #near-rotate-ejs > ._X4-, #jobs-rotate-ejs > ._X4-,#stories-rotate-ejs > ._X4-, #skilled-rotate-ejs > ._X4-, #jobs-rotate > ._X4- {min-width: 48.33333%}
}

@media (max-width: 768px) {

  #team-rotate-ejs > ._X4- {min-width: 63.333333%}

  #stories-rotate-ejs > ._X4- {min-width: 63.33333%;}

  #near-rotate-ejs > ._X4-, #jobs-rotate-ejs > ._X4-,#stories-rotate-ejs > ._X4-, #skilled-rotate-ejs > ._X4-, #jobs-rotate > ._X4- {min-width: 73.3333%}

  ._X2Y {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  ._x16 {padding-left: 52px}

  ._xX0 {max-width: 22.5%}
}

@media (max-width: 560px) {

  ._-gs ._-gm::after {bottom: 10px}

  #team-rotate-ejs > ._X4- {min-width: 90%;}

  #near-rotate-ejs > ._X4-, #jobs-rotate-ejs > ._X4-, #stories-rotate-ejs > ._X4-, #skilled-rotate-ejs > ._X4-, #jobs-rotate > ._X4- {min-width: 90%}

  ._AZs {margin:  0 -12px}
}
